In [1]:
import copy
from pathlib import Path
import warnings

import torch
import numpy as np
import pandas as pd

In [2]:
import pytorch_lightning as pl

In [3]:
from pytorch_lightning.callbacks import EarlyStopping, LearningRateMonitor
from pytorch_lightning.loggers import TensorBoardLogger

In [4]:
from pytorch_forecasting import Baseline, TemporalFusionTransformer, TimeSeriesDataSet
from pytorch_forecasting.data import GroupNormalizer
from pytorch_forecasting.metrics import SMAPE, PoissonLoss, QuantileLoss
from pytorch_forecasting.models.temporal_fusion_transformer.tuning import optimize_hyperparameters

In [17]:
from pytorch_forecasting.data.examples import get_stallion_data

data = get_stallion_data()

In [18]:
data

,agency,sku,volume,date,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,...,labor_day,independence_day,revolution_day_memorial,regional_games,fifa_u_17_world_cup,football_gold_cup,beer_capital,music_fest,discount_in_percent,timeseries
0,Agency_22,SKU_01,52.2720,2013-01-01,492612703,718394219,25.845238,1168.903668,1069.166193,99.737475,...,0,0,0,0,0,0,0,0,8.532566,0
238,Agency_37,SKU_04,0.0000,2013-01-01,492612703,718394219,26.505000,1852.273642,1611.466298,240.807344,...,0,0,0,0,0,0,0,0,13.000635,5
237,Agency_59,SKU_03,812.9214,2013-01-01,492612703,718394219,22.219737,1270.795012,1197.184260,73.610752,...,0,0,0,0,0,0,0,0,5.792496,9
236,Agency_11,SKU_01,316.4400,2013-01-01,492612703,718394219,25.360000,1176.155397,1082.757488,93.397909,...,0,0,0,0,0,0,0,0,7.940950,14
235,Agency_05,SKU_05,420.9093,2013-01-01,492612703,718394219,24.079012,1327.003396,1207.822992,119.180404,...,0,0,0,0,0,0,0,0,8.981168,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,Agency_08,SKU_03,9.8136,2017-12-01,618073219,919709619,25.373665,1706.410263,1455.262060,251.148203,...,0,0,0,0,0,0,0,0,14.717926,336
6764,Agency_60,SKU_05,2235.3495,2017-12-01,618073219,919709619,23.081069,1898.981558,1528.616113,370.365445,...,0,0,0,0,0,0,0,0,19.503372,188
6763,Agency_19,SKU_05,87.5430,2017-12-01,618073219,919709619,27.432590,1902.160687,1547.299733,354.860954,...,0,0,0,0,0,0,0,0,18.655677,162
6771,Agency_60,SKU_03,325.8792,2017-12-01,618073219,919709619,23.081069,1704.503815,1444.443913,260.059902,...,0,0,0,0,0,0,0,0,15.257220,187
6650,Agency_56,SKU_01,3283.8480,2017-12-01,618073219,919709619,21.709841,1729.148426,1223.228147,505.920279,...,0,0,0,0,0,0,0,0,29.258349,71

In [19]:
len(data)

21000

In [20]:
# add time index
data["time_idx"] = data["date"].dt.year * 12 + data["date"].dt.month
data["time_idx"] -= data["time_idx"].min()

In [21]:
data

,agency,sku,volume,date,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,...,independence_day,revolution_day_memorial,regional_games,fifa_u_17_world_cup,football_gold_cup,beer_capital,music_fest,discount_in_percent,timeseries,time_idx
0,Agency_22,SKU_01,52.2720,2013-01-01,492612703,718394219,25.845238,1168.903668,1069.166193,99.737475,...,0,0,0,0,0,0,0,8.532566,0,0
238,Agency_37,SKU_04,0.0000,2013-01-01,492612703,718394219,26.505000,1852.273642,1611.466298,240.807344,...,0,0,0,0,0,0,0,13.000635,5,0
237,Agency_59,SKU_03,812.9214,2013-01-01,492612703,718394219,22.219737,1270.795012,1197.184260,73.610752,...,0,0,0,0,0,0,0,5.792496,9,0
236,Agency_11,SKU_01,316.4400,2013-01-01,492612703,718394219,25.360000,1176.155397,1082.757488,93.397909,...,0,0,0,0,0,0,0,7.940950,14,0
235,Agency_05,SKU_05,420.9093,2013-01-01,492612703,718394219,24.079012,1327.003396,1207.822992,119.180404,...,0,0,0,0,0,0,0,8.981168,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,Agency_08,SKU_03,9.8136,2017-12-01,618073219,919709619,25.373665,1706.410263,1455.262060,251.148203,...,0,0,0,0,0,0,0,14.717926,336,59
6764,Agency_60,SKU_05,2235.3495,2017-12-01,618073219,919709619,23.081069,1898.981558,1528.616113,370.365445,...,0,0,0,0,0,0,0,19.503372,188,59
6763,Agency_19,SKU_05,87.5430,2017-12-01,618073219,919709619,27.432590,1902.160687,1547.299733,354.860954,...,0,0,0,0,0,0,0,18.655677,162,59
6771,Agency_60,SKU_03,325.8792,2017-12-01,618073219,919709619,23.081069,1704.503815,1444.443913,260.059902,...,0,0,0,0,0,0,0,15.257220,187,59
6650,Agency_56,SKU_01,3283.8480,2017-12-01,618073219,919709619,21.709841,1729.148426,1223.228147,505.920279,...,0,0,0,0,0,0,0,29.258349,71,59

In [22]:
# add additional features
data["month"] = data.date.dt.month.astype(str).astype("category")  # categories have be strings
data["log_volume"] = np.log(data.volume + 1e-8)
data["avg_volume_by_sku"] = data.groupby(["time_idx", "sku"], observed=True).volume.transform("mean")
data["avg_volume_by_agency"] = data.groupby(["time_idx", "agency"], observed=True).volume.transform("mean")

In [24]:
data[special_days]

,easter_day,good_friday,new_year,christmas,labor_day,independence_day,revolution_day_memorial,regional_games,fifa_u_17_world_cup,football_gold_cup,beer_capital,music_fest
0,0,0,1,0,0,0,0,0,0,0,0,0
238,0,0,1,0,0,0,0,0,0,0,0,0
237,0,0,1,0,0,0,0,0,0,0,0,0
236,0,0,1,0,0,0,0,0,0,0,0,0
235,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6765,0,0,0,1,0,0,0,0,0,0,0,0
6764,0,0,0,1,0,0,0,0,0,0,0,0
6763,0,0,0,1,0,0,0,0,0,0,0,0
6771,0,0,0,1,0,0,0,0,0,0,0,0
6650,0,0,0,1,0,0,0,0,0,0,0,0

In [15]:
# we want to encode special days as one variable and thus need to first reverse one-hot encoding
special_days = [
    "easter_day",
    "good_friday",
    "new_year",
    "christmas",
    "labor_day",
    "independence_day",
    "revolution_day_memorial",
    "regional_games",
    "fifa_u_17_world_cup",
    "football_gold_cup",
    "beer_capital",
    "music_fest",
]
data[special_days] = data[special_days].apply(lambda x: x.map({0: "-", 1: x.name})).astype("category")

In [16]:
data

,agency,sku,volume,date,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,...,football_gold_cup,beer_capital,music_fest,discount_in_percent,timeseries,time_idx,month,log_volume,avg_volume_by_sku,avg_volume_by_agency
0,Agency_22,SKU_01,52.2720,2013-01-01,492612703,718394219,25.845238,1168.903668,1069.166193,99.737475,...,NaN,NaN,NaN,8.532566,0,0,1,3.956461,2613.377501,103.805460
238,Agency_37,SKU_04,0.0000,2013-01-01,492612703,718394219,26.505000,1852.273642,1611.466298,240.807344,...,NaN,NaN,NaN,13.000635,5,0,1,-18.420681,1361.511918,0.549900
237,Agency_59,SKU_03,812.9214,2013-01-01,492612703,718394219,22.219737,1270.795012,1197.184260,73.610752,...,NaN,NaN,NaN,5.792496,9,0,1,6.700634,1225.306376,2041.909586
236,Agency_11,SKU_01,316.4400,2013-01-01,492612703,718394219,25.360000,1176.155397,1082.757488,93.397909,...,NaN,NaN,NaN,7.940950,14,0,1,5.757134,2613.377501,125.690220
235,Agency_05,SKU_05,420.9093,2013-01-01,492612703,718394219,24.079012,1327.003396,1207.822992,119.180404,...,NaN,NaN,NaN,8.981168,22,0,1,6.042417,1179.728165,1638.463500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,Agency_08,SKU_03,9.8136,2017-12-01,618073219,919709619,25.373665,1706.410263,1455.262060,251.148203,...,NaN,NaN,NaN,14.717926,336,59,12,2.283769,2304.827516,76.037400
6764,Agency_60,SKU_05,2235.3495,2017-12-01,618073219,919709619,23.081069,1898.981558,1528.616113,370.365445,...,NaN,NaN,NaN,19.503372,188,59,12,7.712153,1530.930920,3311.367493
6763,Agency_19,SKU_05,87.5430,2017-12-01,618073219,919709619,27.432590,1902.160687,1547.299733,354.860954,...,NaN,NaN,NaN,18.655677,162,59,12,4.472130,1530.930920,56.557950
6771,Agency_60,SKU_03,325.8792,2017-12-01,618073219,919709619,23.081069,1704.503815,1444.443913,260.059902,...,NaN,NaN,NaN,15.257220,187,59,12,5.786527,2304.827516,3311.367493
6650,Agency_56,SKU_01,3283.8480,2017-12-01,618073219,919709619,21.709841,1729.148426,1223.228147,505.920279,...,NaN,NaN,NaN,29.258349,71,59,12,8.096771,2716.823019,3304.106100

In [9]:
data.describe()

,volume,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,avg_population_2017,avg_yearly_household_income_2017,discount_in_percent,timeseries,time_idx,log_volume,avg_volume_by_sku,avg_volume_by_agency
count,21000.000000,2.100000e+04,2.100000e+04,21000.000000,21000.000000,21000.000000,21000.000000,2.100000e+04,21000.000000,21000.000000,21000.00000,21000.000000,21000.000000,21000.000000,21000.000000
mean,1492.403982,5.439214e+08,8.512000e+08,28.612404,1451.536344,1267.347450,184.374146,1.045065e+06,151073.494286,10.574884,174.50000,29.500000,2.464118,1492.403982,1492.403982
std,2711.496882,6.288022e+07,7.824340e+07,3.972833,683.362417,587.757323,257.469968,9.291926e+05,50409.593114,9.590813,101.03829,17.318515,8.178218,1051.790829,1328.239698
min,0.000000,4.130518e+08,6.964015e+08,16.731034,0.000000,-3121.690141,0.000000,1.227100e+04,90240.000000,0.000000,0.00000,0.000000,-18.420681,0.000000,0.000000
25%,8.272388,5.090553e+08,7.890880e+08,25.374816,1311.547158,1178.365653,54.935108,6.018900e+04,110057.000000,3.749628,87.00000,14.750000,2.112923,932.285496,113.420250
50%,158.436000,5.512000e+08,8.649196e+08,28.479272,1495.174592,1324.695705,138.307225,1.232242e+06,131411.000000,8.948990,174.50000,29.500000,5.065351,1402.305264,1730.529771
75%,1774.793475,5.893715e+08,9.005551e+08,31.568405,1725.652080,1517.311427,272.298630,1.729177e+06,206553.000000,15.647058,262.00000,44.250000,7.481439,2195.362302,2595.316500
max,22526.610000,6.700157e+08,1.049869e+09,45.290476,19166.625000,4925.404000,19166.625000,3.137874e+06,247220.000000,226.740147,349.00000,59.000000,10.022453,4332.363750,5884.717375

In [10]:
max_prediction_length = 6
max_encoder_length = 24
training_cutoff = data["time_idx"].max() - max_prediction_length

training = TimeSeriesDataSet(
    data[lambda x: x.time_idx <= training_cutoff],
    time_idx="time_idx",
    target="volume",
    group_ids=["agency", "sku"],
    min_encoder_length=max_encoder_length // 2,  # keep encoder length long (as it is in the validation set)
    max_encoder_length=max_encoder_length,
    min_prediction_length=1,
    max_prediction_length=max_prediction_length,
    static_categoricals=["agency", "sku"],
    static_reals=["avg_population_2017", "avg_yearly_household_income_2017"],
    time_varying_known_categoricals=["special_days", "month"],
    variable_groups={"special_days": special_days},  # group of categorical variables can be treated as one variable
    time_varying_known_reals=["time_idx", "price_regular", "discount_in_percent"],
    time_varying_unknown_categoricals=[],
    time_varying_unknown_reals=[
        "volume",
        "log_volume",
        "industry_volume",
        "soda_volume",
        "avg_max_temp",
        "avg_volume_by_agency",
        "avg_volume_by_sku",
    ],
    target_normalizer=GroupNormalizer(
        groups=["agency", "sku"], transformation="softplus"
    ),  # use softplus and normalize by group
    add_relative_time_idx=True,
    add_target_scales=True,
    add_encoder_length=True,
)

# create validation set (predict=True) which means to predict the last max_prediction_length points in time
# for each series
validation = TimeSeriesDataSet.from_dataset(training, data, predict=True, stop_randomization=True)

# create dataloaders for model
batch_size = 1  # set this between 32 to 128
train_dataloader = training.to_dataloader(train=True, batch_size=batch_size, num_workers=0, shuffle=False)
val_dataloader = validation.to_dataloader(train=False, batch_size=batch_size * 10, num_workers=0)

In [11]:
data.iloc[0]

agency                                        Agency_22
sku                                              SKU_01
volume                                           52.272
date                                2013-01-01 00:00:00
industry_volume                               492612703
soda_volume                                   718394219
avg_max_temp                                  25.845238
price_regular                               1168.903668
price_actual                                1069.166193
discount                                      99.737475
avg_population_2017                               48151
avg_yearly_household_income_2017                 132110
easter_day                                            -
good_friday                                           -
new_year                                       new_year
christmas                                             -
labor_day                                             -
independence_day                                      -
revolution_day_memorial                               -
regional_games                                        -
fifa_u_17_world_cup                                   -
football_gold_cup                                     -
beer_capital                                          -
music_fest                                            -
discount_in_percent                            8.532566
timeseries                                            0
time_idx                                              0
month                                                 1
log_volume                                     3.956461
avg_volume_by_sku                           2613.377501
avg_volume_by_agency                          103.80546
Name: 0, dtype: object

In [12]:
next(iter(train_dataloader))

({'encoder_cat': tensor([[[ 0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4],
           [ 0,  0,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  7,  5],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6],
           [ 0,  0,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  7],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  9],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 10],
           [ 0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0, 11],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1],
           [ 0,  0,  0,  0,  0,  0,  0,  0, 10,  0,  0,  0,  0,  0,  2],
           [ 0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  3],
           [ 0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  7,  5],
           [ 0,  0,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6],
           [ 0,  0,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  7],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  9],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 10],
           [ 0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0, 11],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1],
           [ 0,  0,  0,  0,  0,  0,  0,  0, 10,  9,  0,  0,  0,  0,  2],
           [ 0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  3]]]),
  'encoder_cont': tensor([[[-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.7003, -0.3899,
            -0.0345, -1.0000, -0.1436,  0.2459, -0.7130, -1.7344, -2.9171,
            -1.0676,  1.0738],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.6361, -0.3899,
            -0.3378, -0.9583,  0.2956,  0.2693, -1.7246, -1.2169, -2.1644,
            -1.0561,  1.3626],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.5719, -0.3338,
            -0.3414, -0.9167,  1.1960,  0.3063, -0.4351,  0.7957, -0.9712,
            -1.0254,  1.6461],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.5078, -0.2636,
            -0.2792, -0.8750,  1.5398,  0.3179, -0.0498,  0.0083, -0.2134,
            -1.0256,  1.9322],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.4436, -0.2582,
            -0.3435, -0.8333,  2.2546,  0.3389,  0.2731,  0.3914,  0.2684,
            -1.0038,  2.0960],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.3795, -0.2516,
            -0.2656, -0.7917,  2.3856,  0.3424, -0.0616,  0.7569,  1.3437,
            -0.9988,  1.6413],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.3153, -0.2515,
            -0.3845, -0.7500,  1.6025,  0.3199, -0.4502,  0.4693,  0.2622,
            -1.0219,  1.5581],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.2511, -0.2516,
            -0.6378, -0.7083,  1.8890,  0.3286, -0.0483, -1.1590,  0.1919,
            -1.0236,  1.6390],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.1870, -0.2516,
            -0.3348, -0.6667,  1.5507,  0.3182, -1.3525, -0.6974, -0.3799,
            -1.0353,  1.0854],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.1228, -0.2511,
            -0.2511, -0.6250,  1.5916,  0.3196, -0.9117, -0.6678, -0.5722,
            -1.0275,  1.4858],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -1.0587, -0.2510,
            -0.1698, -0.5833,  0.2274,  0.2659, -1.6742, -0.4553, -2.3004,
            -1.0614,  1.3193],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.9945, -0.2510,
             0.4806, -0.5417,  0.4593,  0.2769, -1.8546, -0.7573, -2.8006,
            -1.0549,  1.9437],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.9303, -0.2510,
             1.0457, -0.5000,  0.3584,  0.2722, -0.9005, -1.0745, -2.3949,
            -1.0634,  1.0750],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.8662, -0.2510,
             0.0216, -0.4583,  0.9395,  0.2969, -1.8314, -1.5007, -1.3023,
            -1.0580,  1.6165],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.8020, -0.2510,
             0.0532, -0.4167,  0.9805,  0.2984,  0.3633, -0.1347, -1.3460,
            -1.0534,  1.9782],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.7379, -0.2510,
             0.0464, -0.3750, -0.4001,  0.2298, -0.3506,  0.5270, -0.4622,
            -1.0408,  2.3914],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.6737, -0.2079,
            -0.9987, -0.3333, -1.6279,  0.0902,  0.6554,  0.7270,  0.2774,
            -1.0349,  1.5822],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.6095, -0.1950,
            -0.9961, -0.2917, -0.4956,  0.2233,  0.3078,  0.4021,  1.3014,
            -1.0416,  1.8276],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.5454, -0.1913,
            -1.0254, -0.2500,  0.0692,  0.2578,  0.2545, -0.0040,  0.4325,
            -1.0466,  1.6988],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.4812, -0.1763,
            -0.6714, -0.2083,  0.5303,  0.2801, -0.2109,  0.4347,  0.3567,
            -1.0589,  1.8726],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.4170, -0.1496,
            -0.1886, -0.1667,  0.3666,  0.2726, -2.0395, -1.0212, -0.0364,
            -1.0683,  1.6711],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.3529, -0.1512,
            -0.6081, -0.1250,  0.6803,  0.2865, -1.6096, -0.6793, -0.0696,
            -1.0668,  1.6847],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.2887, -0.1526,
            -0.5609, -0.0833, -0.4601,  0.2258, -0.8544, -1.7724, -2.0370,
            -1.0781,  1.4106],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.2246, -0.1525,
            -0.4193, -0.0417, -0.2746,  0.2380, -0.2135, -2.0545, -2.2905,
            -1.0745,  2.0817]]]),
  'encoder_target': tensor([[ 80.6760,  98.0640, 133.7040, 147.3120, 175.6080, 180.7920, 149.7960,
           161.1360, 147.7440, 149.3640,  95.3640, 104.5440, 100.5480, 123.5520,
           125.1720,  70.5240,  21.9240,  66.7440,  89.1000, 107.3520, 100.8720,
           113.2920,  68.1480,  75.4920]]),
  'encoder_lengths': tensor([24]),
  'decoder_cat': tensor([[[0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4],
           [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 5],
           [0, 0, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6],
           [0, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 7],
           [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8]]]),
  'decoder_cont': tensor([[[-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.1604, -0.1538,
            -0.5659,  0.0000, -1.1313,  0.1667, -0.6137, -1.0963, -3.0043,
            -1.0906,  1.1821],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.0962, -0.1518,
            -0.5462,  0.0417, -0.7084,  0.2071, -1.9578, -1.7539, -1.9492,
            -1.0912,  1.4105],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598, -0.0321, -0.1511,
            -0.0537,  0.0833,  0.0255,  0.2555, -0.3319,  0.4902, -2.0794,
            -1.0806,  2.7088],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598,  0.0321, -0.0832,
             0.1176,  0.1250, -0.1355,  0.2464, -0.5369,  0.3310, -0.9971,
            -1.0720,  2.2298],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598,  0.0962, -0.0568,
             0.2383,  0.1667,  0.1401,  0.2615,  0.6155,  1.3146, -0.0559,
            -1.0724,  2.1258],
           [-0.9593, -0.6123,  1.0000, -0.5347, -0.5598,  0.1604,  0.0204,
             0.1843,  0.2083,  0.0064,  0.2544,  0.2432,  0.8992,  0.7383,
            -1.0621,  1.8439]]]),
  'decoder_target': tensor([[41.5800, 58.3200, 87.3720, 81.0000, 91.9080, 86.6160]]),
  'decoder_lengths': tensor([6]),
  'decoder_time_idx': tensor([[24, 25, 26, 27, 28, 29]]),
  'groups': tensor([[0, 0]]),
  'target_scale': tensor([[87.3620, 39.5837]])},
 (tensor([[41.5800, 58.3200, 87.3720, 81.0000, 91.9080, 86.6160]]), None))

In [ ]:
# calculate baseline mean absolute error, i.e. predict next value as the last available value from the history
actuals = torch.cat([y for x, (y, weight) in iter(val_dataloader)])
baseline_predictions = Baseline().predict(val_dataloader)
(actuals - baseline_predictions).abs().mean().item()

In [ ]:
# configure network and trainer
pl.seed_everything(42)
trainer = pl.Trainer(
    gpus=0,
    # clipping gradients is a hyperparameter and important to prevent divergance
    # of the gradient for recurrent neural networks
    gradient_clip_val=0.1,
)


tft = TemporalFusionTransformer.from_dataset(
    training,
    # not meaningful for finding the learning rate but otherwise very important
    learning_rate=0.03,
    hidden_size=16,  # most important hyperparameter apart from learning rate
    # number of attention heads. Set to up to 4 for large datasets
    attention_head_size=1,
    dropout=0.1,  # between 0.1 and 0.3 are good values
    hidden_continuous_size=8,  # set to <= hidden_size
    output_size=7,  # 7 quantiles by default
    loss=QuantileLoss(),
    # reduce learning rate if no improvement in validation loss after x epochs
    reduce_on_plateau_patience=4,
)
print(f"Number of parameters in network: {tft.size()/1e3:.1f}k")

In [ ]:
# find optimal learning rate
res = trainer.tuner.lr_find(
    tft,
    train_dataloader=train_dataloader,
    val_dataloaders=val_dataloader,
    max_lr=10.0,
    min_lr=1e-6,
)

print(f"suggested learning rate: {res.suggestion()}")
fig = res.plot(show=True, suggest=True)
fig.show()

In [ ]:
# configure network and trainer
early_stop_callback = EarlyStopping(monitor="val_loss", min_delta=1e-4, patience=10, verbose=False, mode="min")
lr_logger = LearningRateMonitor()  # log the learning rate
logger = TensorBoardLogger("lightning_logs")  # logging results to a tensorboard

trainer = pl.Trainer(
    max_epochs=30,
    gpus=0,
    weights_summary="top",
    gradient_clip_val=0.1,
    limit_train_batches=30,  # coment in for training, running valiation every 30 batches
    # fast_dev_run=True,  # comment in to check that networkor dataset has no serious bugs
    callbacks=[lr_logger, early_stop_callback],
    logger=logger,
)


tft = TemporalFusionTransformer.from_dataset(
    training,
    learning_rate=0.03,
    hidden_size=16,
    attention_head_size=1,
    dropout=0.1,
    hidden_continuous_size=8,
    output_size=7,  # 7 quantiles by default
    loss=QuantileLoss(),
    log_interval=10,  # uncomment for learning rate finder and otherwise, e.g. to 10 for logging every 10 batches
    reduce_on_plateau_patience=4,
)
print(f"Number of parameters in network: {tft.size()/1e3:.1f}k")